<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/account/' == request.path %} active {% endif %}"
           href="{% url 'account_app:dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/account/my_orders/' == request.path %}active{% endif %}"
           href="{% url 'account_app:my_orders' %}"> My order history </a>
        <a class="list-group-item {% if '/account/edit/profile' == request.path %} active {% endif %}"
           href="{% url 'account_app:edit_profile' %}"> Edit profile </a>
        <a class="list-group-item {% if '/account/change/password' == request.path %}active{% endif %}"
           href="{% url 'account_app:change_password' %}"> Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'account_app:logout' %}"> <i class="fa fa-power-off"></i> <span
            class="text">Log out</span>
    </a>
    <!--   SIDEBAR .//END   -->
</aside>