{% extends 'base.html' %}


{% block content %}

    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <a href="#"><img src="{{ object.image.url }}"></a>
                            </div> <!-- img-big-wrap.// -->

                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body">
                            <form action="{% url 'cart_app:add_to_cart' product.id %}" method="get">
                                <h2 class="title">{{ object.title }}</h2>

                                <div class="mb-3">
                                    {% if object.get_discounted_price %}
                                        <var class="price h4">${{ object.get_discounted_price }}</var>
                                    {% else %}
                                        <var class="price h4">${{ object.price }}</var>
                                    {% endif %}
                                </div>

                                <p>{{ object.description }}</p>


                                <hr>
                                <h6 class="title-text text-center">Select Color</h6>
                                <select class="form-control text-center" name="color">
                                    <option value="" disabled selected>Select</option>
                                    {% for item in product.variation_set.colors %}
                                        <option value="{{ item.variation_value | lower  }}">{{ item.variation_value | capfirst  }}</option>
                                    {% endfor %}

                                </select>
                                <br><br>
                                <h6 class="title-text text-center">Select Size</h6>
                                <select class="form-control text-center" name="size">
                                    <option value="" disabled selected>Select</option>
                                    {% for size in product.variation_set.sizes %}
                                        <option value="{{ size.variation_value | lower }}">{{ size.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                                <br>

                                {% if product.stock <= 0 %}
                                    <p class="text-danger font-weight-bold"> Out Of Stock </p>
                                {% else %}
                                    {% if cart_exist %}
                                        <p class="btn btn-success">
                                            <span class="text">added to cart</span><i class="fas fa-check"></i>
                                        </p>
                                        <br>
                                        <a href="{% url 'cart_app:product_cart' %}" class="btn btn-success">
                                            <span class="text">View cart</span> <i class="fas fa-eye"></i>
                                        </a>
                                    {% else %}
                                        <button type="submit"
                                                class="btn btn-primary">
                                            <span class="text">Add to cart</span> <i
                                                class="fas fa-shopping-cart"></i>
                                        </button>
                                    {% endif %}

                                {% endif %}
                            </form>
                        </article> <!-- product-info-aside .// -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

            <br>

            <div class="row">
                <div class="col-md-9">

                    <header class="section-heading">
                        <h3>Customer Reviews </h3>

                    </header>

                    <article class="box mb-3">
                        <div class="icontext w-100">
                            <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                            <div class="text">
                                <span class="date text-muted float-md-right">24.04.2020 </span>
                                <h6 class="mb-1">Mike John </h6>

                            </div>
                        </div> <!-- icontext.// -->
                        <div class="mt-3">
                            <p>
                                Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip
                            </p>
                        </div>
                    </article>

                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>

{% endblock %}
